<%- include('partials/head'); -%>

<body>
     <div class="box">
          <h2>Signup/Signin</h2>
          <form action="/signup" method="post">
               <input class="signup" type="text" name="userName" placeholder="Enter username">
               <input class="signup" type="password" name="password" placeholder="Enter password">
               <input class="signup-sub" type="submit" value="Submit">
          </form>
     </div>
</body>

<%- include('partials/footer'); -%>